<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Results</title>
  </head>
  <body>
    <%for (doc of docs) {%>
      <p><%= doc.by %></p>
      <h2><%= doc.title %></h2>
    <% } %>
  </body>
</html>
